@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Medium.eot');
  src: url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextCyr-Medium.woff2') format('woff2'),
  url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
  url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Americana Std';
  src: url('../fonts/AmericanaFont.eot');
  src: url('../fonts/AmericanaFont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AmericanaFont.woff2') format('woff2'),
  url('../fonts/AmericanaFont.woff') format('woff'),
  url('../fonts/AmericanaFont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hind Guntur';
  src: url('../fonts/HindGuntur-Light.eot');
  src: url('../fonts/HindGuntur-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HindGuntur-Light.woff2') format('woff2'),
  url('../fonts/HindGuntur-Light.woff') format('woff'),
  url('../fonts/HindGuntur-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Guntur';
  src: url('../fonts/HindGuntur-Regular.eot');
  src: url('../fonts/HindGuntur-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HindGuntur-Regular.woff2') format('woff2'),
  url('../fonts/HindGuntur-Regular.woff') format('woff'),
  url('../fonts/HindGuntur-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Guntur';
  src: url('../fonts/HindGuntur-Medium.eot');
  src: url('../fonts/HindGuntur-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HindGuntur-Medium.woff2') format('woff2'),
  url('../fonts/HindGuntur-Medium.woff') format('woff'),
  url('../fonts/HindGuntur-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Guntur';
  src: url('../fonts/HindGuntur-Bold.eot');
  src: url('../fonts/HindGuntur-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HindGuntur-Bold.woff2') format('woff2'),
  url('../fonts/HindGuntur-Bold.woff') format('woff'),
  url('../fonts/HindGuntur-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind Guntur';
  src: url('../fonts/HindGuntur-SemiBold.eot');
  src: url('../fonts/HindGuntur-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HindGuntur-SemiBold.woff2') format('woff2'),
  url('../fonts/HindGuntur-SemiBold.woff') format('woff'),
  url('../fonts/HindGuntur-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

